<h5 class="card-title">Users</h5>

<div class="card-body text-left">
    <small><a routerLink="../userRegistration">Add new User</a></small>
</div>
<!-- {{usersRecord|json}} -->
<table class="table table-striped">
    <thead>
        <tr>
          <th>UserName</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersRecord">
        <td>{{ user.userName }}</td>
        <td>
          <div *ngIf="user.isEdit">
              <input type="text"[(ngModel)]=" user.firstName" class="form-control"/>
          </div>
          <div *ngIf="!user.isEdit">
            {{ user.firstName }}
          </div>
          
        </td>
        <td>
          <div *ngIf="user.isEdit">
            <input type="text"[(ngModel)]=" user.lastName" class="form-control"/>
          </div>
          <div *ngIf="!user.isEdit">
            {{ user.lastName }}
          </div>
        </td>
        <td>
          <div *ngIf="user.isEdit">
            <input type="text"[(ngModel)]="user.email" class="form-control"/>
          </div>
          <div *ngIf="!user.isEdit">
            {{ user.email }}
          </div>
        </td>
        <td>
          <div *ngIf="user.isEdit">
            <button class=" btn btn-sm btn-success" (click)="(updateUser(user))">Update</button>
            <button class=" btn btn-sm btn-success" (click)="user.isEdit = false">Cancle</button>
          </div>
          <div *ngIf="!user.isEdit">
            <button class=" btn btn-sm btn-success" (click)="onEdit(user)">Edit</button>
            <button class=" btn btn-sm btn-success" (click)="DeleteUser(user.userID)">Delete</button>
          </div>
          
        </td>
      </tr>
    </tbody>
  </table>


