<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
                </div>
                <div class="text-center">
                    <h2>GEMS Cloud Web Aplication</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                   
                </p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" id="email" placeholder="User Name" class="form-control" formControlName="UserName"
                            name="UserName" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                            formControlName="Password" name="password" />
                    </div>
                    <input type="submit" class="btn btn-primary w-100" value="Sign In" name="">
                </form>
            </div>
            <div class="card-footer text-center">
                <small><a routerLink="../forgot-password">Forgot Password</a></small>
            </div>
        </div>
    </div>
</div>